body {
  font-family: 'Roboto', 'Verdana', sans;
  margin: 0px;
  background-color: #EEE;
}

.body {
  margin: 10px 16px 0 356px;
  overflow: hidden;
}

code, pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

a {
  text-decoration: none;
  color: #36a;

  &:hover { color: #48c }
  &:visited { color: #83b }
}