.body > h1 {

  font-size: 24px;
  margin: 8px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 12px;
  border-bottom: 1px solid #CCC;

  code {
    display: block;
    color: #333;
    background-color: #EEE;
    padding: 3px 12px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 4px;
    margin-top: 8px;
  }

  span {
    font-family: 'Open Sans', 'verdana', sans;
    margin-left: 10px;
    font-size: 13px;
    background-color: #690;
    color: white;
    padding: 2px 6px;
    border-radius: 7px;
    &.status-Alpha { background-color: #C00 }
    &.status-Beta { background-color: #F80 }
    &.status-RC { background-color: #09C }    
  }

}

/* First paragraph is a list of tags */
.body p:nth-child(1) a {
  display: inline-block;
  text-decoration: none;
  background-color: #DDF;
  padding: 0 5px;
  border-radius: 4px;
  line-height: 20px;
  &:hover { background-color: #EEF; }
}

.body p > code, .body li > code {
  display: inline-block;
  padding: 0 5px;
  border-radius: 4px;
  font-weight: normal;
  line-height: 20px;
  background-color: #DDD;
}

.body pre {
  font-size: 12px;
  padding: 8px 10px 12px;
  width: 580px;
  background-color: #1d1f21;
  color: #c5c8c6;
  border-radius: 8px;
  overflow: hidden;
}

.body p, .body li {
  font-size: 13px;
  line-height: 1.7em;
  width: 580px;
  color: #333;
}

/* H3 is used to represent a code snippet label */
.body h3 {

  background-color: #282a2e;
  color: #de935f;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 8px 8px 0 0;
  width: 580px;
  font-weight: normal;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  + pre {
    border-radius: 0 0 8px 8px;
    margin-top: 0;
  }

}

.body pre + ul {
  
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 598px;

  li {
    margin: 6px 12px;

    code:nth-child(1) { 
      background-color: #1d1f21;
      color: #c5c8c6;
    }
  }

}

.body .text h1 {
  font-size: 24px;
  color: #333;
  border-bottom: 1px solid #DDD;
}

/* H2 is used to represent an enumeration label */
.body h2 {

  font-size: 13px;
  font-weight: normal;
 
  code {
    background-color: #DDD;
    padding: 4px 8px;
  }
}

.body h2 + ul {
  margin: -5px 0 16px 0;
  padding-left: 16px;
  list-style-type: none;
  li { margin: 6px 12px; }
}

.body table.inner {
  font-size: 13px;
  border-collapse: collapse;
  width: 600px;

  td {
    border: 1px solid #BBB;
    padding: 4px 8px;
  }

  code {
    color: #555;
  }

  a { 
    text-decoration: none;
  }
}