.sidebar {

    margin: 110px 30px 0;
    float: left;
    overflow: hidden;
    width: 300px;

    ul {
	list-style-type: none;
	border-top: 1px solid #CCC;
	margin: 4px 0;
	padding: 4px 0;
    }

    button.test {
	border: 0;
	background: none;
	padding: 0px;
	margin: 1px;
	cursor: pointer; 

	span {
	    display: block;
	    width: 30px;
	    height: 16px;
	    padding: 3px 4px;
	    text-align: center;
	    font-size: 11px;
	    line-height: 16px;	    
	}

	&.unknown {
	    background-color: #CCC;
	    border: 1px solid #888;
	    color: #333;
	}

	&.failed {
	    background-color: #FBB;
	    border: 1px solid #C44;
	    color: #A22;
	}

    }

    .node {

	height: 26px;
	&.verb { height: 40px; }
	
	padding: 4px;
	
	> .test {
	    float: right; 
	    margin-left: 8px;
	}

	&.verb > .test {
	    margin-top: 8px;
	}

	> a {
	    display: block;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    font-size: 13px;
	    color: #333;
	    line-height: 26px;
	    code {
		font-weight: normal;
		display: block;
		color: #888;
		font-size: 11px;
		margin-top: -7px;
	    }
	}

	&.verb > a {
	    line-height: 24px;
	}

	&.active {
	    > a {
		font-weight: bold;
	    }
	}

	&.current {	    
	    background-color: #CCC;
	}
    }
}