.sidebar {

    overflow: hidden;

    ul {
	list-style-type: none;
	border-top: 1px solid #CCC;
	margin: 4px 0;
	padding: 4px 0;
    }

    .test {
	border: 0;
	background: none;
	padding: 0px;
	margin: 1px;
	cursor: pointer; 

	span {
	    display: block;
	    width: 30px;
	    height: 16px;
	    padding: 3px 4px;
	    text-align: center;
	    font-size: 11px;
	    line-height: 16px;	    
	}

	&.unknown {
	    background-color: #CCC;
	    border: 1px solid #888;
	    color: #333;
	}

	&.failed {
	    background-color: #FBB;
	    border: 1px solid #C44;
	    color: #A22;
	}

	&.ok {
	    background: #8C8;
	    color: #050;
	    border: 1px solid #4A4;
	}

    }

    .node {

	font-size: 12px;

	&.title { 
	    height: 40px;
	    h1 {
		font-size: 24px;
		text-align: center;
		line-height: 40px;
		margin: 0;
	    }
	    > .test { margin-top: 10px; }
	}

	padding: 4px;
	
	> .test {
	    float: left; 
	    margin-right: 8px;
	}

	code {
	    font-weight: normal;
	    display: block;
	    color: #333;
	    font-size: 11px;
	    line-height: 26px;
	}

	.test.running {
	    display: block;
	    width: 38px;
	    height: 22px;
	    text-align: center;
	    background-color: #CCE;
	    border: 1px solid #26C;
	    overflow: hidden;

	    span {
		width: 0px;
		height: 22px;
		background-color: #48E;
		float: left;
	    }
	}
    }
}