#left {
  position: fixed;
  top: -10px;
  bottom: 0px;
  left: 0;
  width: 330px; 
  z-index: 0;
  background-color: #1d1f21;
  box-shadow: inset -6px 0 12px rgba(0,0,0,0.75);
  border-right: #888 1px solid;
}

.sidebar {
  width: 310px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  color: #c5c8c6;  
  padding: 5px;
  font-size: 12px;

  li {
    border-top: 1px solid rgba(255,255,255,0.05)
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }

  li ul {
    display: none;
    padding-left: 5px;
  }

  div {
    cursor: pointer;
    font-weight: bold;
    padding: 6px 4px;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  a > span { margin-top: 6px }

  span {
    float: right; 
    border-radius: 30px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;    
    font-weight: bold;
    font-size: 0.8em;
    background-color: #BBB;
    color: #111;
  }

  span.ok {
    background-color: #9C0;
  }

  span.failed {
    background-color: #F44;
  }

  a {
    display: block;
    text-decoration: none;
    color: #c5c8c6;  
    height: 30px;
    padding: 6px 4px;
    line-height: 1.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.active {
      background-color: rgba(255,255,255,0.05)
    }

    code {
      display: block;
      color: #888;
      font-size: 0.95em;
    }
  }
}
