#left {
  position: fixed;
  top: -10px;
  bottom: 0px;
  left: 0;
  width: 330px; 
  z-index: 0;
  background-color: #1d1f21;
  box-shadow: inset -6px 0 12px rgba(0,0,0,0.75);
  border-right: #888 1px solid;
}

.sidebar {
  width: 310px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  color: #c5c8c6;  
  padding: 5px;
  font-size: 12px;

  button {
    display: block;
    margin: 8px auto;
    box-sizing: box-content;
    border: 0 none white;
    padding: 0;
    height: 28px;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;

    span:hover {
      background-color: #4C4;
      background: linear-gradient(top, #55dd55, #33cc33);
    }

    span {
      color: white;
      text-shadow: 0 -1px 0 #007700;
      background-color: #3B3;
      background: linear-gradient(top, #44cc44, #22aa22);
      border: 1px solid #070;
      display: block;
      margin: 3px;
      height: 14px;
      padding: 3px 11px;
      line-height: 14px;
      font-weight: bold;
      font-size: 14px;
      border-radius: 2px;
      text-align: center;
      box-shadow: 0 0 3px rgba(0,0,0,0.5);
    }
  }

  .progress {

    margin: 12px 3px;
    border: 1px solid #070;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    height: 20px;

    div {
      background-color: #3B3;
      background: linear-gradient(top, #44cc44, #22aa22);
      border: 1px solid #070;
      display: block;
      height: 20px;
      margin: -1px;
      border-radius: 2px;
      width: 0px;
      float: left;
      transition: width 0.5s;
      -webkit-transition: width 0.5s;
    }
  }

  li {
    border-top: 1px solid rgba(255,255,255,0.05)
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }

  li ul {
    display: none;
    padding-left: 5px;
  }

  li > div {
    cursor: pointer;
    font-weight: bold;
    padding: 6px 4px;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  a > span { margin-top: 6px }

  span {
    float: right; 
    border-radius: 30px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;    
    font-weight: bold;
    font-size: 0.8em;
    background-color: #BBB;
    color: #111;
  }

  span.ok {
    background-color: #9C0;
  }

  span.failed {
    background-color: #F44;
  }

  a {
    display: block;
    text-decoration: none;
    color: #c5c8c6;  
    height: 30px;
    padding: 6px 4px;
    line-height: 1.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.active {
      background-color: rgba(255,255,255,0.05)
    }

    code {
      display: block;
      color: #888;
      font-size: 0.95em;
    }
  }

  a.active + .failed { display: block; }

  .failed {
    margin-left: 10px;
      
    li { 
	padding: 3px; 
	background-color: rgba(255,0,0,0.15);
    }
    
    strong { 
      font-weight: normal; 
      font-size: 11px;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    small {
      display: block;
      color: #888;
      font-size: 11px;
    }
  }
}
